{% extends 'base.html' %}

{% block content %}

<h2>Doctor Dashboard</h2>

<a href="/add-slot/" class="btn">Add Slot</a>
{% if is_google_connected %}
<p style="color: green;">Google Calendar connected</p>
{% else %}
<p style="color: #b36b00;">Google Calendar not connected. Connect first to auto-create events.</p>
<a href="/google/connect/" class="btn">Connect Google Calendar</a>
{% endif %}
<a href="/logout/" class="btn btn-danger">
    Logout
</a>
<h3>Your Slots</h3>

{% for slot in slots %}
<div class="card">
    <b>{{ slot.date }}</b><br>
    {{ slot.start_time }} - {{ slot.end_time }}<br>
    Status: 
    {% if slot.is_booked %}
        <span style="color:red;">Booked</span>
    {% else %}
        <span style="color:green;">Available</span>
         <br><br>
        <a href="/edit-slot/{{ slot.id }}/" class="btn">Edit</a>
    {% endif %}
</div>

{% endfor %}


<h3>Bookings</h3>

{% for b in bookings %}
<div class="card">
    Patient: {{ b.patient.username }}<br>
    Date: {{ b.slot.date }}<br>
    Time: {{ b.slot.start_time }}
</div>
{% endfor %}

{% endblock %}